@import url(../base/icon.css);
@import url(../base/text.css);
.sbr--header{
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 24px;
    align-items: center;
    column-gap: 20px;
}

.sbr-logo{
    width: 96px;
    height: 32px;
}

.sbr--body{
    display: flex;
    flex-direction: column;
    padding: 20px 12px 0 12px;
}

.sbr--body--item {
    display: flex;
    flex-direction: row;
    height: 44px;
    border: none;
    /* align-items: center; */
    align-items: center;
    padding-left: 12px;
    column-gap: 14px;
    border-radius: 4px;
}
.sbr--body--item:hover{
    background-color:#757575;
    cursor: pointer;
}

.sbr--header{
    position: sticky;
    top: 0;
    background-color: #38393d;
}

.item-line{
    position: relative;
    height: 16px;
    background-color: #fff;   
}

.item-line-iner{
    position: absolute;
    top: 50%;
    width: 100%;
    border-bottom: 1px solid aqua;
}

.line{
    /* height: 8; */
    border-bottom:1px solid  #111111;
    margin: 8px 20px;

}

.sbr-logo:hover{
    cursor: pointer;
}
div.tooltip {
    text-decoration: none;
}
div.tooltip:hover {
    position: relative;
}
div.tooltip span {
    display: none;
}
div.tooltip:hover span {
    padding-left: 5px;
    display: block;
    z-index: 100;
    background: black;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 50%); 
    width: auto;
    position: absolute;


    text-decoration: none;
    font-family: notosans-regular;
    font-weight: 400;
    font-size: 9px;
    line-height: 17px;
    color: #E0E0E0;
}