
@import url(../layout/layout.css);
@import url(../base/base.css);

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: notosans-regular;
  font-weight: 500;
  font-size: 14px;
  color: #000000;
}
.border-warning{
  border-color: #ff0000;
}
body{
    height: 100vh;
}

.m-col{
  display: flex;
  flex-direction: column;
}

.span-red{
  color: red;
}

/* @media screen and (max-width: 600px) {
    div.ct__sidebar {
      display: none;
    }
  } */
